non existing records return empty answer instead of NXDOMAIN

Non-existing hostnames return an empty answer instead of NXDOMAIN.

Example:
```
$ host foobar.mesos
$
```

Expected:
```
$ host foobar
Host foobar not found: 3(NXDOMAIN)
```

In addition the SOA record is empty:
```
$ dig @localhost mesos SOA

; <<>> DiG 9.8.3-P1 <<>> @localhost mesos SOA
; (3 servers found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 9157
;; flags: qr aa rd ra; QUERY: 1, ANSWER: 0, AUTHORITY: 0, ADDITIONAL: 0

;; QUESTION SECTION:
;mesos.				IN	SOA
```

If the expected behaviour was implemented (returning NXDOMAIN) the dns server should also return a SOA record since it's used by the client to determine the negative cache ttl (aka minimum cache time).

Also see RFC 2308 section 4.

Fixed with https://github.com/mesosphere/mesos-dns/commit/936d51edb466a46fc220929ab90b362d833299a8